<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Basic Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../css/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../css/themes/icon.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.serializejson.min.js"></script>
</head>
<body>
    <table id="dg"></table>
    <div id="tb" style="padding:2px 5px;">
        <input id="name" label="用户名称:" style="width:100%;">
        <a href="#" id="addData" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
        <a href="#" id="removesData" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
        <a href="#" id="searchData" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
    </div>
    <div id="dlg" class="easyui-dialog" title="Basic Dialog" data-options="iconCls:'icon-save',closed:true" style="width:450px;height:200px;padding:10px">
        <form id="ff" class="easyui-form" method="post" data-options="novalidate:true,region:'center',fit:true">
            <input   name="_id" style="width:100%" type="hidden">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'用户名:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="age" style="width:100%" data-options="label:'年龄:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'邮箱:',required:true,validType:'email'">
            </div>
        </form>
        <div style="text-align:center;padding:5px 0">
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">提交</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">清除</a>
        </div>
    </div>
</body>
</html>

<script>
    function submitForm(){
        $('#ff').form('submit',{
            onSubmit:function(){
                //获取表单内容，传递数据
                if($(this).form('enableValidation').form('validate')){
                    var formData = $('#ff').serializeJSON();
                    if(formData._id.length>0){
                        //修改
                        $.ajax({
                            url:`${window.parent.globalURL}users/${formData._id}`,
                            type:'put',
                            data:formData
                        }).done(function(res){
                            $('#dlg').dialog('close');
                            $('#dg').datagrid('reload')
                        })
                    }else{
                        delete formData._id;
                        $.ajax({
                            url:`${window.parent.globalURL}users`,
                            type:'post',
                            data:formData
                        }).done(function(res){
                            $('#dlg').dialog('close');
                            $('#dg').datagrid('reload')
                        })
                    }
                }
            }
        });
        return false;
    }
    function clearForm(){
        $('#ff').form('clear');
    }
    $('#dg').datagrid({
        url:`${window.parent.globalURL}users/list`,
        fit:'true',
        border:false,
        pagination:true,
        toolbar:'#tb',
        // [{
        //     text:'添加',
        //     iconCls:'icon-add',
        //     handler:function(){
        //         clearForm();
        //         $('#dlg').dialog('open')
        //     }
        // },{
        //     //删除多条选中的按钮
        //     text:'删除',
        //     iconCls:'icon-cut',
        //     handler:function(){
        //         deleteChoose()
        //     }
        // },'-',{
        //     text:'修改',
        //     iconCls:'icon-save',
        //     handler:function(){alert('save')}
        // }],
        columns:[[
            {field:'ck',checkbox:true},
            {field:'name',title:'用户名',width:100},
            {field:'age',title:'年龄',width:100},
            {field:'email',title:'邮箱',width:100},


            //修改和删除功能
            {field:'_id',title:'操作',width:100,
                formatter:function(value,row,index){
                    return `<a href="javascript:;" onclick="updateData('${row._id}')">修改</a>　　<a href="javascript:;" onclick="removeData('${row._id}')">删除</a>`
                }
            },
        ]],
        // onClickRow:function(index,row){
        //     console.log(index,row);
        // }
    });
    //搜索功能
    $("#searchData").click(function(){
        $('#dg').datagrid({
            queryParams: {
                name: $("#name").val()
            }
        });
    })
    //添加功能
    $("#addData").click(function(){
        clearForm();
        $('#dlg').dialog('open');
    })
    //删除多条数据
    $("#removesData").click(function(){
        deleteChoose();
    })

    //修改数据
    function updateData(id){
        $.ajax({
            url:`${window.parent.globalURL}users/${id}`,
            type:'get'
        }).done(function(res){
            $('#ff').form('load',res);
            $('#dlg').dialog('open');
        })
    }

    //删除单条数据的函数123
    function removeData(id){
        $.messager.confirm({
            title:'确认对话框',
            msg:'你确认删除',
            ok:"确认",
            cancel:"取消",
            fn:function(r){
                if (r){
                    $.ajax({
                        url:`${window.parent.globalURL}users/${id}`,
                        type:'delete'
                    }).done(function(res){
                        $("#dg").datagrid('reload');
                    })
                }
            }
        });
    }
    //删除多条选中数据的函数
    
    function deleteChoose(){
        var rows = $('#dg').datagrid('getSelections');
        var ids = [];
        for(var i=0;i<rows.length;i++){
            ids.push(rows[i]._id);
        };
        $.messager.confirm({
            title:'确认对话框',
            msg:'你确认删除',
            ok:"确认",
            cancel:"取消",
            fn:function(r){
                if (r){
                    $.ajax({
                        url:`${window.parent.globalURL}users/deleteChoose`,
                        type:'post',
                        data:{
                            ids:ids.toString()
                        }
                    }).done(function(res){
                        $("#dg").datagrid('reload');
                    })
                }
            }
        });
    }
</script>