<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Basic Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../css/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../css/themes/icon.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../js/jquery.serializejson.min.js"></script>
</head>
<body>
        <table id="dg"></table>
        <div id="tb" style="padding:2px 5px;">
            <input id="searchFor" label="搜索内容:" style="width:30%;height:30px;margin:10px 0">

            <a href="#" id="searchData" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
            <a href="#" id="addData" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
            <a href="#" id="removesData" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="deleteDatas()">删除</a>
        </div>

        <div id="dlg" class="easyui-dialog" title="用户信息" data-options="iconCls:'icon-save',closed: true" style="width:400px;padding:10px;">
            <form id="userform" class="easyui-form" method="post" data-options="novalidate:true">
                <input   name="_id" style="width:100%;display:none;">
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'用户名:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="age" style="width:100%" data-options="label:'年龄:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-datebox" name="birthday" style="width:100%" data-options="label:'出生年月:',required:true">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="tel" style="width:100%" data-options="label:'电话:',required:true,validType:'tel'">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="card" style="width:100%" data-options="label:'身份证:',required:true,validType:'card'">
                </div>
                <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="email" style="width:100%" data-options="label:'邮箱:',required:true,validType:'email'">
                </div>
                <div style="margin-bottom:20px">
                    <!-- <input class="easyui-tagbox" value="篮球,游戏" label="兴趣爱好:" data-options='required:true,multiple:true' style="width:100%"> -->
                    <input class="easyui-tagbox" name="interest" id="interest" style="width:100%" data-options="label:'兴趣爱好:',multiple:true,required:true,validType:'interest'">
                </div>
               <div style="margin-bottom:20px">
                    <input class="easyui-textbox" name="address" style="width:100%" data-options="label:'住址:',required:true,validType:'address'">
                </div>
                <div style="margin-bottom:20px">
                    <input id="cc" class="easyui-combobox" name="sex" data-options="required:true,valueField:'id',editable:false,textField:'text',panelHeight:80,label:'性别',valueField: 'label',
                    textField: 'value',data: [{
                        label: '男',
                        value: '男'
                    },{
                        label: '女',
                        value: '女'}]" />
                </div>
                <div style="margin-bottom:20px">
                    <input id="cc" class="easyui-combobox" name="know" data-options="required:true,valueField:'id',editable:false,textField:'text',panelHeight:80,label:'是否了解我们',valueField: 'label',
                    textField: 'value',data: [{
                        label: 'true',
                        value: '了解'
                    },{
                        label: 'false',
                        value: '不了解'}]" />
                </div>
            </form>
            <div style="text-align:center;padding:5px 0">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:80px">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width:80px">重置</a>
            </div>
        </div>
</body>
</html>

<script>
    var gloableURL=window.parent.gloableURL;
    $('#dg').datagrid({
        url:`${gloableURL}users/list`,
        fit:'true',
        border:false,
        pagination:true,
        toolbar:'#tb',
        columns:[[
            {field:'ck',checkbox:true},
            {field:'name',title:'用户名',width:100},
            {field:'age',title:'年龄',width:50,align:'right',halign: 'center'},
            {field:'birthday',title:'出生年月',width:150,
                formatter:function(val,row,index){
                    return jsonYearMonthDay(val);
                }
            },
            {field:'tel',title:'电话',width:130,align:'right',halign: 'left'},
            {field:'card',title:'身份证',width:180,align:'center',halign: 'left'},
            {field:'email',title:'邮箱',width:200,align:'left',halign: 'center'},
            {field:'interest',title:'兴趣爱好',width:200},
            {field:'address',title:'住址',width:150},
            {field:'sex',title:'性别',width:50},
            {field:'know',title:'了解我们？',width:100,
                formatter:function(val,row,index){
                    return val==false?"了解":"不了解";
                }
            },
            {field:'time',title:'注册时间',width:220,align:'center',
                    formatter:function(val,row,index){
                        return jsonYearMonthDay(val);
                    }
            },
            {field:'_id',title:'操作', width:80,
                formatter: function(value,row,index){
                    return `<a  class="edit-a" href="javascript:void(0)" onclick="updateData('${row._id}',this)" style="display:inline-block;width:25px;height:25px;float:left;"></a> <a class="delete-a" href="javascript:void(0)" onclick="deleteData('${row._id}')" style="display:inline-block;width:25px;height:25px;float:right"></a>`
                }
            }
        ]]
    });

    // 日期格式转换
    function jsonYearMonthDay(val) {
        if(val){
            var date = new Date(val);
            var year = date.getFullYear().toString();
            var month = (date.getMonth() + 1);
            var day = date.getDate().toString();
            var hour = date.getHours().toString();
            var minutes = date.getMinutes().toString();
            var seconds = date.getSeconds().toString();
            if (month < 10) {
                month = "0" + month;
            }
            if (day < 10) {
                day = "0" + day;
            }
            if (hour < 10) {
                hour = "0" + hour;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }
            return year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds;
        }

    }
    // 1、 新增
    $("#addData").click(function(){
        console.log($('.validatebox-text').length);
        $('.validatebox-text').each(function(index,value){
            //console.log($('#userform'));
            //console.log ($(value));
            $(this).removeClass('validatebox-invalid');
            $(this).parent('.easyui-fluid').removeClass('textbox-invalid');
        })
        $('#dlg').dialog('open');
    })
    // 新增提交
    function submitForm(){
        $('#userform').form('submit',{
            onSubmit:function(){
                if($(this).form('enableValidation').form('validate')){
                    // 将当前页面的表单信息进行获取，然后进行ajax请求
                    var inval = $("#interest").val();
                    var formData = $("#userform").serializeJSON();
                    formData.interest = inval;
                    console.log(formData);
                    formData.know=formData.know=="了解"?true:false;
                    if(formData._id.length > 0){
                        // update
                        $.ajax({
                            url:`${gloableURL}users/${formData._id}`,
                            type:'put',
                            data: formData
                        }).done(function(res){
                            console.log("后续操作");
                            $('#dlg').dialog('close');
                            $('#dg').datagrid('reload');
                            $('#userform').form('clear');
                        })
                    }else{
                        // add
                        //console.log("单纯添加");
                        console.log(formData);
                        delete formData._id;
                        $.ajax({
                            url:`${gloableURL}users`,
                            type:'post',
                            data: formData
                        }).done(function(res){
                            // 再次添加内容时，文字区域有提示 无效
                            // 这里清空效果有问题
                            $('#dlg').dialog('close');
                            $('#dg').datagrid('reload');
                            $('#userform').form('clear');
                        })
                    }
                }
            }
        });
        return false; // 阻止默认事件
    }

    //2、删除
    // 单个删除
    function deleteData(id){
        $.messager.confirm({
            title:'确认对话框',
            msg:'你确认删除',
            ok:"确认",
            cancel:"取消",
            fn: function(r){
                if (r){
                    $.ajax({
                        url:`${gloableURL}users/${id}`,
                        type:'delete'
                    }).done(function(res){
                        $("#dg").datagrid('reload');
                    })
                }
            }
        });
    }
    // 批量删除
    function deleteDatas(){
        var rows = $('#dg').datagrid('getSelections');
        var ids = [];
        for(var i=0;i<rows.length;i++){
            ids.push(rows[i]._id);
        }
        $.messager.confirm({
            title:'确认对话框',
            msg:'你确认删除',
            ok:"确认",
            cancel:"取消",
            fn:function(r){
                if (r){
                    $.ajax({
                        url:`${gloableURL}users/removes`,
                        type:'post',
                        data:{
                            ids: ids.toString()
                        }
                    }).done(function(res){
                        //console.log(res.message);
                        $.messager.confirm('提示', '所选数据已被删除');
                        $("#dg").datagrid('reload');
                    })
                }
            }
        });
    }

    // 3、修改
    function updateData(id,target){
        $(target).parents('.datagrid-row').siblings().
    removeClass('datagrid-row-over datagrid-row-checked datagrid-row-selected');
        $.ajax({
            url:`${gloableURL}users/${id}`,
            type:'get'
        }).done(function(res){
            $('#userform').form('load',res);
            $('#dlg').dialog('open');
        })
    }

    // 4、搜索
    $("#searchData").click(function(){
        $('#dg').datagrid({
            queryParams: {
                name: $("#searchFor").val()
            }
        });
        $("#searchFor").val("");
    })


</script>